body {
  font-family: sans-serif;
}

input {
  width: 210px;
  padding: 6px 16px;
  border-radius: 8px;
  border: none;
  /* outline: none; */
}

button {
  margin: 0 0 0 8px;
  padding: 6px 16px;
  border-radius: 16px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  /* outline: none; */
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
}

.title {
  font-weight: bold;
  text-align: center;
}

.list-item {
  display: flex;
  align-items: center;
}

.list-item-lead {
  width: 180px;
}
